<!-- Portfolio section start -->
	<div class="section secondary-section " id="portfolio">
		<div class="triangle"></div>
		<div class="container">
			<div class="title">
				<h1>Have You Seen our Works?</h1>
				<p>Duis mollis placerat quam, eget laoreet tellus tempor eu. Quisque dapibus in purus in dignissim.</p>
			</div>

			<!-- Portfolio filter -->
			
			<ul class="nav nav-pills">
				<li class="filter" data-filter="all">
					<a href="#all">All</a>
				</li>
				<li class="filter" data-filter="identity"><a href="#identity">Identity</a></li><li class="filter" data-filter="photo"><a href="#photo">Photo</a></li><li class="filter" data-filter="web"><a href="#web">Web</a></li>			</ul>
			
			<!-- Start details for portfolio project -->
			<div id="single-project">
				
				
				<!-- the loop -->
						
				<div id="slidingDiv1411" class="toggleDiv single-project">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="img/portfolio1.jpg" >
							</div>
							<div class="col-md-6">
								<div class="project-description">
									<div class="project-title clearfix">
										<h3>Realistic Character 9</h3>
										<span class="show_hide close">
											<i class="icon-cancel"></i>
										</span>
									</div>
									<div class="project-info">
										<div><span>Client</span>ThemeArt</div>
										<div><span>Date</span>January 21, 2015</div>
										<div><span>Categories</span>Identity / Photo</div>
										
									</div>
									<p>I learned that we can do anything, but we can&#8217;t doeverything&#8230; at least not at the same time. So think of your priorities not in terms of what activities you do, but when you do them. Timing is everything.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End details for portfolio project -->

						
				<div id="slidingDiv1409" class="toggleDiv single-project">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="img/portfolio1.jpg" alt="project">
							</div>
							<div class="col-md-6">
								<div class="project-description">
									<div class="project-title clearfix">
										<h3>Realistic Character 8</h3>
										<span class="show_hide close">
											<i class="icon-cancel"></i>
										</span>
									</div>
									<div class="project-info">
										<div><span>Client</span>ThemeArt</div>
										<div><span>Date</span>January 21, 2015</div>
										<div><span>Categories</span>Photo / Web</div>
										<div><span>Link</span><a href="http://themeart.co/">http://themeart.co/</a></div>
									</div>
									<p>What if you gave someone a gift, and they neglected tothank you for it &#8211; would you be likely to give them another? Life is the same way. In order to attract more of the blessings that life has to offer, you must truly appreciate what you already have.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End details for portfolio project -->

						
				<div id="slidingDiv1407" class="toggleDiv single-project">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="img/Portfolio09.png" alt="project">
							</div>
							<div class="col-md-6">
								<div class="project-description">
									<div class="project-title clearfix">
										<h3>Realistic Character 7</h3>
										<span class="show_hide close">
											<i class="icon-cancel"></i>
										</span>
									</div>
									<div class="project-info">
										<div><span>Client</span>ThemeArt</div>
										<div><span>Date</span>January 21, 2015</div>
										<div><span>Categories</span>Identity / Photo / Web</div>
										<div><span>Link</span><a href="http://themeart.co/">http://themeart.co/</a></div>
									</div>
									<p>Always continue the climb. It is possible for you to dowhatever you choose, if you first get to know who you are and are willing to work with a power that is greater than ourselves to do it.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End details for portfolio project -->

						
				<div id="slidingDiv1405" class="toggleDiv single-project">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="http://pluton.themeart.co/wp-content/uploads/2015/01/Portfolio06.png" alt="project">
							</div>
							<div class="col-md-6">
								<div class="project-description">
									<div class="project-title clearfix">
										<h3>Realistic Character 6</h3>
										<span class="show_hide close">
											<i class="icon-cancel"></i>
										</span>
									</div>
									<div class="project-info">
										<div><span>Client</span>ThemeArt</div>
										<div><span>Date</span>January 21, 2015</div>
										<div><span>Categories</span>Photo / Web</div>
										<div><span>Link</span><a href="http://themeart.co/">http://themeart.co/</a></div>
									</div>
									<p>I went to the woods because I wished to live deliberately,to front only the essential facts of life, and see if I could not learn what it had to teach, and not, when I came to die, discover that I had not lived.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End details for portfolio project -->

						
				<div id="slidingDiv1403" class="toggleDiv single-project">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="http://pluton.themeart.co/wp-content/uploads/2015/01/Portfolio05.png" alt="project">
							</div>
							<div class="col-md-6">
								<div class="project-description">
									<div class="project-title clearfix">
										<h3>Realistic Character 5</h3>
										<span class="show_hide close">
											<i class="icon-cancel"></i>
										</span>
									</div>
									<div class="project-info">
										<div><span>Client</span>ThemeArt</div>
										<div><span>Date</span>January 21, 2015</div>
										<div><span>Categories</span>Identity / Web</div>
										<div><span>Link</span><a href="http://themeart.co/">http://themeart.co/</a></div>
									</div>
									<p>We need to give each other the space to grow, to be ourselves, to exercise our diversity. We need to give each other space so that we may both give and receive such beautiful things as ideas, openness, dignity, joy, healing, and inclusion.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End details for portfolio project -->

						
				<div id="slidingDiv1401" class="toggleDiv single-project">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="http://pluton.themeart.co/wp-content/uploads/2015/01/Portfolio04.png" alt="project">
							</div>
							<div class="col-md-6">
								<div class="project-description">
									<div class="project-title clearfix">
										<h3>Realistic Character 4</h3>
										<span class="show_hide close">
											<i class="icon-cancel"></i>
										</span>
									</div>
									<div class="project-info">
										<div><span>Client</span>ThemeArt</div>
										<div><span>Date</span>January 21, 2015</div>
										<div><span>Categories</span>Identity / Photo / Web</div>
										<div><span>Link</span><a href="http://themeart.co/">http://themeart.co/</a></div>
									</div>
									<p>Life&#8217;s but a walking shadow, a poor player, that struts and frets his hour upon the stage, and then is heard no more; it is a tale told by an idiot, full of sound and fury, signifying nothing.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End details for portfolio project -->

						
				<div id="slidingDiv1399" class="toggleDiv single-project">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="http://pluton.themeart.co/wp-content/uploads/2015/01/Portfolio03.png" alt="project">
							</div>
							<div class="col-md-6">
								<div class="project-description">
									<div class="project-title clearfix">
										<h3>Realistic Character 3</h3>
										<span class="show_hide close">
											<i class="icon-cancel"></i>
										</span>
									</div>
									<div class="project-info">
										<div><span>Client</span>ThemeArt</div>
										<div><span>Date</span>January 21, 2015</div>
										<div><span>Categories</span>Identity / Photo</div>
										<div><span>Link</span><a href="http://themeart.co/">http://themeart.co/</a></div>
									</div>
									<p>How far you go in life depends on your being tender with the young, compassionate with the aged, sympathetic with the striving and tolerant of the weak and strong. Because someday in your life you will have been all of these.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End details for portfolio project -->

						
				<div id="slidingDiv1393" class="toggleDiv single-project">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="http://pluton.themeart.co/wp-content/uploads/2015/01/Portfolio02.png" alt="project">
							</div>
							<div class="col-md-6">
								<div class="project-description">
									<div class="project-title clearfix">
										<h3>Realistic Character 2</h3>
										<span class="show_hide close">
											<i class="icon-cancel"></i>
										</span>
									</div>
									<div class="project-info">
										<div><span>Client</span>ThemeArt</div>
										<div><span>Date</span>January 21, 2015</div>
										<div><span>Categories</span>Identity / Web</div>
										<div><span>Link</span><a href="http://themeart.co/">http://themeart.co/</a></div>
									</div>
									<p>Life is a song &#8211; sing it. Life is a game &#8211; play it. Life is a challenge &#8211; meet it. Life is a dream &#8211; realize it. Life is a sacrifice &#8211; offer it. Life is love &#8211; enjoy it.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End details for portfolio project -->

						
				<div id="slidingDiv1391" class="toggleDiv single-project">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="http://pluton.themeart.co/wp-content/uploads/2015/01/Portfolio01.png" alt="project">
							</div>
							<div class="col-md-6">
								<div class="project-description">
									<div class="project-title clearfix">
										<h3>Realistic Character 1</h3>
										<span class="show_hide close">
											<i class="icon-cancel"></i>
										</span>
									</div>
									<div class="project-info">
										<div><span>Client</span>ThemeArt</div>
										<div><span>Date</span>January 21, 2015</div>
										<div><span>Categories</span>Photo / Web</div>
										<div><span>Link</span><a href="http://themeart.co/">http://themeart.co/</a></div>
									</div>
									<p>Believe in yourself! Have faith in your abilities! Without a humble but reasonable confidence in your own powers you cannot be successful or happy.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End details for portfolio project -->

								<!-- end of the loop -->

				
				
				<ul id="portfolio-grid" class="thumbnails row">
					
										
					<!-- the loop -->
					
										<li class="col-sm-6 col-md-4 mix identity photo">
						<div class="thumbnail">
							<img src="img/Portfolio09.png" alt="project">
							<a href="#single-project" class="more show_hide" rel="#slidingDiv1411">
								<i class="icon-plus"></i>
							</a>
							<h3>Realistic Character 9</h3>
														<p>Identity / Photo</p>
							<div class="mask"></div>
						</div>
					</li>
					
										<li class="col-sm-6 col-md-4 mix photo web">
						<div class="thumbnail">
							<!--<img src="http://pluton.themeart.co/wp-content/uploads/2015/01/Portfolio08.png" alt="project">-->
                            <img src="img/Portfolio09.png">
							<a href="#single-project" class="more show_hide" rel="#slidingDiv1409">
								<i class="icon-plus"></i>
							</a>
							<h3>Realistic Character 8</h3>
														<p>Photo / Web</p>
							<div class="mask"></div>
						</div>
					</li>
					
										<li class="col-sm-6 col-md-4 mix identity photo web">
						<div class="thumbnail">
							<img src="img/Portfolio09.png" alt="project">
							<a href="#single-project" class="more show_hide" rel="#slidingDiv1407">
								<i class="icon-plus"></i>
							</a>
							<h3>Realistic Character 7</h3>
														<p>Identity / Photo / Web</p>
							<div class="mask"></div>
						</div>
					</li>
					
										<li class="col-sm-6 col-md-4 mix photo web">
						<div class="thumbnail">
							<img src="img/Portfolio09.png" alt="project">
							<a href="#single-project" class="more show_hide" rel="#slidingDiv1405">
								<i class="icon-plus"></i>
							</a>
							<h3>Realistic Character 6</h3>
														<p>Photo / Web</p>
							<div class="mask"></div>
						</div>
					</li>
					
										<li class="col-sm-6 col-md-4 mix identity web">
						<div class="thumbnail">
							<img src="img/Portfolio09.png" alt="project">
							<a href="#single-project" class="more show_hide" rel="#slidingDiv1403">
								<i class="icon-plus"></i>
							</a>
							<h3>Realistic Character 5</h3>
														<p>Identity / Web</p>
							<div class="mask"></div>
						</div>
					</li>
					
										<li class="col-sm-6 col-md-4 mix identity photo web">
						<div class="thumbnail">
							<img src="img/Portfolio09.png" alt="project">
							<a href="#single-project" class="more show_hide" rel="#slidingDiv1401">
								<i class="icon-plus"></i>
							</a>
							<h3>Realistic Character 4</h3>
														<p>Identity / Photo / Web</p>
							<div class="mask"></div>
						</div>
					</li>
					
										<li class="col-sm-6 col-md-4 mix identity photo">
						<div class="thumbnail">
							<img src="img/Portfolio09.png" alt="project">
							<a href="#single-project" class="more show_hide" rel="#slidingDiv1399">
								<i class="icon-plus"></i>
							</a>
							<h3>Realistic Character 3</h3>
														<p>Identity / Photo</p>
							<div class="mask"></div>
						</div>
					</li>
					
										<li class="col-sm-6 col-md-4 mix identity web">
						<div class="thumbnail">
							<img src="img/Portfolio09.png" alt="project">
							<a href="#single-project" class="more show_hide" rel="#slidingDiv1393">
								<i class="icon-plus"></i>
							</a>
							<h3>Realistic Character 2</h3>
														<p>Identity / Web</p>
							<div class="mask"></div>
						</div>
					</li>
					
										<li class="col-sm-6 col-md-4 mix photo web">
						<div class="thumbnail">
							<img src="img/Portfolio09.png" alt="project">
							<a href="#single-project" class="more show_hide" rel="#slidingDiv1391">
								<i class="icon-plus"></i>
							</a>
							<h3>Realistic Character 1</h3>
														<p>Photo / Web</p>
							<div class="mask"></div>
						</div>
					</li>
										<!-- end of the loop -->

					
									</ul>
			</div>
		</div>
	</div>
	<!-- Portfolio section end -->